
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">


    <title>{% block title %} Pixie - Ecommerce HTML5 Template {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/tooplate-main.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">

    {% block css %}
    {% endblock %}
<!--
Tooplate 2114 Pixie
https://www.tooplate.com/view/2114-pixie
-->
  </head>

  <body>

    <!-- Pre Header -->
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-end align-items-center text-light">
            {% if user.is_authenticated %}
              {% if user.is_superuser %}
                <a href="/admin/" class="nav-link text-light">Админка</a>
            |
              {% endif %}
                 <a href="{% url 'auth:edit' %}" class="nav-link">
                   <span>{{ user.first_name|default:'Пользователь' }}</span>
                 </a>
            |
            <a href="{% url 'auth:logout' %}" class="nav-link">
            <span>Выйти</span>
            </a>
            {% else %}
              <a href="{% url 'auth:login' %}" class="nav-link">
                <span>Войти</span>
              </a>
            {% endif %}

            {% if basket %}
              <a href="{#% url 'basket:view' %#}" class="basket">
                <span>{{ basket|length }}</span>
              </a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

    {% include 'includes/inc_main_menu.html' %}
    <!-- Page Content -->
    {% block content %}
    Сюда будет вставлено содержимое страницы
    {% endblock %}


    <!-- Subscribe Form Starts Here -->
    <div class="subscribe-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Subscribe on PIXIE now!</h1>
            </div>
          </div>
          <div class="col-md-8 offset-md-2">
            <div class="main-content">
              <p>Integer vel turpis ultricies, lacinia ligula id, lobortis augue. Vivamus porttitor dui id dictum efficitur. Phasellus vel interdum elit.</p>
              <div class="container">
                <form id="subscribe" action="" method="get">
                  <div class="row">
                    <div class="col-md-7">
                      <fieldset>
                        <input name="email" type="text" class="form-control" id="email"
                        onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                     onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                     value="Your Email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-5">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">Subscribe Now!</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe Form Ends Here -->



    <!-- Footer Starts Here -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logo">
              <img src="/static/assets/images/header-logo.png" alt="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Home</